.playlistItemViewCountRoot {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  color: var(--color-cream-black);
}

.playlistItemViewCountIcon {
  margin: 0 8px;
}

.playlistItemViewCountText {
  display: block;
  font-size: 0.6875rem;
  font-family: var(--font-poppins);
  line-height: 0.6875rem;
}
