:root {
  --color-black: #000;
  --color-soft-black: #222;
  --color-cream-black: #404040;
  --color-white: #fff;
  --color-white-shadow: rgba(255, 255, 255, 0.65);
  --color-gray: #e9e9e9;
  --color-shadow: rgba(112, 112, 112, 0.75);
}
